// Create: src/quasar-variables.sass

$primary   : #4C7A3B
$secondary : #6B8E6B
$accent    : #37474F

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037